
<h1>Edit Article</h1>

<%= form_with url: "/articles/#{@article.id}", method: "patch" do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title, value: @article.title %>
  </div


  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, value: @article.body %>
  </div

  <div>
    <%= form.submit %>
  </div>

<% end %>
