<h1><%= @article.id %></h1>
<h1><%= @article.title %></h1>

<p><%= simple_format(@article.body) %></p>

<hr>

<%# <a href="/articles">Back to articles </a> %>
<br>
<%= link_to "Back to articles", articles_path %>
<br>
<br>
<%# <a href="/articles/<%= @article.id %1>/edit">Edit article </a> %>
<%= link_to "Edit articles", edit_article_path(@article.id) %>
<br>
<br>
<!--
<%= link_to "Delete Article", "/articles/#{@article.id}", data: {turbo_method: :delete, turbo_confirm: "Sure?"} %>
-->

<%= button_to "Delete article",  "/articles/#{@article.id}", method: :delete %>

<hr>


<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>


<h2>Add a comment:</h2>
<%= form_with model: [ @article, @article.comments.new ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>



